<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Insertar Pedidos</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Insertar Pedidos</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div id="producto">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <caption>PRODUCTOS</caption>
                          <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of productos">
                            <td>{{item.codigo}}</td>
                            <td>{{item.nombre}}</td>
                            <td>{{item.stock}}</td>
                            <td>{{item.precio_venta | currency}}</td>
                            <td>
                                <span class="fas fa-check-square" style="color: green; font-size: 18px; cursor:pointer" (click)="seleccionar(item, item.id_producto)">
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <caption>CLIENTE</caption>
                <tr>
                  <td>
                    <div class="row">
                      <div class="col-lg-3">
                        <input type="text" class="form-control" placeholder="Identificación del cliente" [(ngModel)]="ident_cliente" (keyup)="consulta_cliente()">
                      </div>
                      <div class="col-lg-9">
                        {{nombre_cliente}}
                      </div>
                    </div>
                    
                  </td>
                </tr>
              </thead>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <caption>PEDIDO</caption>
                <tr>
                  <th>Producto</th>
                  <th>V. unitario</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemp of matriz_producto">
                  <td>{{itemp[1]}}</td>
                  <td>{{itemp[2] | currency}}</td>
                  <td>{{itemp[3]}}</td>
                  <td>{{itemp[4] | currency}}</td>
                  <td>
                    <span class="fas fa-minus-square" style="color: red; cursor: pointer" title="Quitar"></span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                  <td><b>TOTAL:</b></td>
                  <td>{{total | currency}}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <input type="button" value="Guardar Pedido" class="btn btn-warning" style="width: 100%;" (click)="guardar()">
        </div>
    </div>
  </div>
</section>
