<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Categoría</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Categoría</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
      <!-- contenido -->
      <hr>
      <input type="button" value="Insertar Categoría" class="btn btn-warning">
      <!-- formulario -->
      <div id="formulario"></div>
      <hr>
      <div id="tabla">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        <tr *ngFor="let item of categoria">
                            <td>{{item.nombre}}</td>
                            <td>
                                <span class="fas fa-edit" style="color: blue; cursor: pointer" title="Editar"></span> 
                                <span class="fas fa-minus-square" style="color: red; cursor: pointer" title="Eliminar"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
        
        
      </div>
  </div>
</section>
